---
import type { Post } from "../content.config";

type Props = Omit<Post, "added" | "updated"> & {
  date: Post["added"];
};

const { slug, title, tags, description, date } = Astro.props;
---

<li class="post">
  <a href={`/post/${slug}`} class="title">{title}</a>
  <br />
  {description && <p class="nomargin">{description}</p>}
  <p class="nomargin">
    <time datetime={date instanceof Date ? date.toISOString() : date}>
      {
        new Date(date).toLocaleDateString("en-gb", {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }
    </time>
  </p>
  <div>
    {
      tags.map((tag) => (
        <a class="tag" href={`/tag/${tag}`}>
          #{tag}
        </a>
      ))
    }
  </div>
</li>
