---
import { Picture } from "astro:assets";
import Tags from "../components/Tags.astro";
import type { Post } from "../content.config";
import SiteLayout from "./SiteLayout.astro";

interface Props {
  content: Post;
  frontmatter: {
    minutesRead?: string;
  };
}

const {
  content: { title, tags, image, description, added, updated },
  frontmatter: { minutesRead },
} = Astro.props;

const formatDate = (date: string | Date) =>
  new Date(date).toLocaleDateString("en-gb", {
    year: "numeric",
    month: "long",
    day: "numeric",
  });

const formattedAdded = formatDate(added);
const formattedUpdated = updated ? formatDate(updated) : undefined;
---

<SiteLayout includeTags subtitle={title} description={description}>
  <article>
    {
      image && (
        <Picture
          src={image}
          formats={["avif", "webp"]}
          alt={description || title}
        />
      )
    }

    <h1 class="article-title">{title}</h1>
    <p class="post-meta">
      <span>
        <time>{formattedAdded}</time>
      </span>
      {
        formattedUpdated && (
          <span>
            last updated <time>{formattedUpdated}</time>
          </span>
        )
      }
      {minutesRead && <span>{minutesRead}</span>}
    </p>
    <Tags tags={tags} />
    <hr />
    <div class="blog-post">
      <slot />
    </div>
  </article>
</SiteLayout>
