---
import { Picture } from "astro:assets";
import Tags from "../components/Tags.astro";
import type { Post } from "../content.config";
import SiteLayout from "./SiteLayout.astro";

interface Props {
  content: Post;
  frontmatter: {
    minutesRead?: string;
    created?: string;
    lastModified?: string;
  };
}

const {
  content: { title, tags, image, description },
  frontmatter: { minutesRead, created, lastModified },
} = Astro.props;

const dateFormatOptions: Intl.DateTimeFormatOptions = {
  year: "numeric",
  month: "long",
  day: "numeric",
};

const added = created
  ? new Date(created).toLocaleDateString("en-gb", dateFormatOptions)
  : undefined;

const updated =
  lastModified && created && lastModified !== created
    ? new Date(lastModified).toLocaleDateString("en-gb", dateFormatOptions)
    : undefined;
---

<SiteLayout includeTags subtitle={title} description={description}>
  <article>
    {
      image && (
        <Picture
          src={image}
          formats={["avif", "webp"]}
          alt={description ?? title}
        />
      )
    }

    <h1 class="article-title">{title}</h1>
    <p class="post-meta">
      {
        added && (
          <span>
            <time>{added}</time>
          </span>
        )
      }
      {
        updated && (
          <span>
            last updated <time>{updated}</time>
          </span>
        )
      }
      {minutesRead && <span>{minutesRead}</span>}
    </p>
    <Tags tags={tags} />
    <hr />
    <div class="blog-post">
      <slot />
    </div>
  </article>
</SiteLayout>
